.page-style{
  background-color: white;
  font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
}

.body-style{
  align-items: center;
  display:flex;
  justify-content: center;
  text-align: center;
}

.submit-button{
  background-color: #FE5F55;
  border-radius: 0.5rem;
  height: 2rem;
  width: 5rem;
}